{% extends "layout.html" %} {% block content %}
<body>
  {% for post in posts.items %}
  <article class="media content-section">
    <!-- TODO: Add text for no posts -->
    <div class="article-metadata">
      <img
        class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_images/' + post.author.image_file) }}"
      />
      <a class="mr-2 article-author" href="#"
        >{{ post.author.first_name }} {{post.author.last_name }}</a
      >
    </div>
    <div class="media-body">
      <h2>
        <a class="article-title" href="{{ url_for('post', post_id=post.id) }}"
          >{{ post.title }}</a
        >
      </h2>
    </div>
    <div class="article-footer">
      <small class="text-muted"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>
  </article>
  {% endfor %}
</body>
{% endblock content %}
